<!-- Header Section -->
<header class="bg-off-white-google text-white fixed top-0 left-0 w-full z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-8 md:px-12 py-4">
      <div class="flex items-center justify-between">
          <!-- Logo Section -->
          <div class="flex-shrink-0">
              <a href="{% url "base_layout" %}" class="text-2xl font-bold text-black font-serif">AuroNow</a>
          </div>

          <!-- Call-to-Action Button -->
          <div class="hidden md:block">
              <!-- Desktop Links -->
            <div class="hidden md:flex items-center gap-2">
              {% if user.is_authenticated %}
                  <a 
                    href="{% url 'user_logout' %}" 
                    class="bg-[#E53935] text-white px-6 py-2 rounded-full hover:bg-[#D32F2F] transition font-medium"
                  >
                    Logout
                  </a>
                {% else %}
                  <a href="{% url 'user_login' %}" class="bg-primary-color text-gray-700 px-6 py-2 rounded-full hover:bg-primary-hover-color transition font-medium">
                    Login
                  </a>
              {% endif %}
            <a href="{% url 'dashboard_login' %}" class="bg-secondary-color text-white px-4 py-2 rounded-full hover:bg-secondary-hover-color transition font-medium">
              For Professional
            </a>
            

          
      </div>
          </div>

          <!-- Mobile Menu Button (for smaller screens) -->
          <div class="md:hidden flex items-center">
              <button id="menu-button" class="text-black focus:outline-none">
                  <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                  </svg>
              </button>
          </div>
      </div>

      <!-- Mobile Navigation Menu -->
      <div id="mobile-menu" class="md:hidden mt-5 hidden space-y-4 flex-col">
         {% if user.is_authenticated %}
            <a   href="{% url 'user_logout' %}"  class="w-full border border-red-500 bg-red-200 text-gray-700 px-6 py-1.5 text-sm font-semibold rounded-lg">
              Logout
            </a>
         {% else %}
            <a href="{% url 'user_login' %}" class="w-full border border-primary-color text-gray-700 px-6 py-1.5 text-sm font-semibold rounded-lg">
              Login
            </a>
         {% endif %}
          <a href="{% url 'dashboard_login' %}" class="w-full bg-secondary-color text-sm font-medium px-4 py-2 rounded-lg text-white">
            For Professional
          </a>
        </div>
  </div>
</header>

<script>
  // Mobile Menu Toggle
  const menuButton = document.getElementById('menu-button');
  const mobileMenu = document.getElementById('mobile-menu');

  menuButton.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
      mobileMenu.classList.add('flex');
  });
</script>