{% extends "base_dashboard.html" %}
{% load static %}
{% block main %}
    <section id='services' class='container mx-auto px-4 py-12 flex flex-col'>
        {% comment %} numbers {% endcomment %}
        <div class='flex flex-col md:flex-row gap-4 justify-between'>
            <div class='w-full md:w-1/2 bg-[#d3dbdd] p-4 rounded-xl text-center'>
                <h3 class='text-xl md:text-2xl font-semibold'>{{ appointments_today_count }}</h3>
                <h2 class='text-gray-700 md:font-medium'>Todays Appointments</h2>
            </div>
            <div class='w-full md:w-1/2 bg-[#d3dbdd] p-4 rounded-xl text-center'>
                <h3 class='text-xl md:text-2xl font-semibold'>{{ appointments_this_month_count }}</h3>
                <h2 class='text-gray-700 md:font-medium'>This Month Appointments</h2>
            </div>
        </div>
        {% comment %} numbers end {% endcomment %}

        {% comment %} show appoitments start {% endcomment %}
        <div class='bg-off-white-google p-4 pb-10 rounded-xl mt-8 flex flex-col gap-4'>

            <!-- Success Message -->
            {% if messages %}
            <div id='appointment-status-message'>
                {% for message in messages %}
                <div class="{% if message.tags == 'success' %}bg-green-100 border border-green-400 text-green-700{% else %}bg-red-100 border border-red-400 text-red-700{% endif %}
                 px-4 py-3 rounded-md mb-2">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% comment %} show FAQ {% endcomment %}
            <div class='bg-off-white-google py-8 px-4 md:px-8 rounded-xl flex flex-col gap-4'>
                <h2 class='text-xl md:text-3xl font-semibold text-gray-700'>Show Appointments</h2>
        
                {% comment %} search input for appointments {% endcomment %}
                <div class="flex flex-col md:flex-row justify-between md:items-center gap-4">
                    <div class='w-full'>
                        <form class="max-w-md" action="{% url 'dashboard_appointments' %}" method="get">   
                            <div class="relative">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                    </svg>
                                </div>
                                <input type="search" id="default-search" name='appointmentSearch' class="block w-full p-4 pr-24 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-off-white-google focus:ring-primary_hover focus:border-primary_hover" placeholder="Search for appointments..." required />
                                <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-primary hover:bg-primary_hover focus:ring-4 focus:outline-none focus:ring-primary_hover font-medium rounded-lg text-sm px-4 py-2">Search</button>
                            </div>
                        </form>
                    </div>
                    {% comment %} show all category button {% endcomment %}
                    <div class='min-w-24 max-w-96'>                
                        <a href='{% url 'dashboard_appointments' %}' class="w-full text-white bg-primary hover:bg-primary_hover focus:ring-4 focus:outline-none focus:ring-primary_hover font-medium rounded-lg text-sm px-4 py-2">Show All</a>
                    </div>
                </div>
                {% comment %} search input end {% endcomment %}
        
                {% comment %} table start {% endcomment %}
                <div class="relative overflow-x-auto shadow-sm sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                        <thead class="text-xs uppercase bg-table-background text-gray-200">
                            <tr>
                                <th scope="col" class="px-6 py-3">SNO</th>
                                <th scope="col" class="px-6 py-3">Name</th>
                                <th scope="col" class="px-6 py-3">Phone</th>
                                <th scope="col" class="px-3">Service</th>
                                <th scope="col" class="px-3 py-3">Date</th>
                                <th scope="col" class="py-3">Start Time</th>
                                <th scope="col" class="px-3 py-3">End Time</th>
                                <th scope="col" class="px-6 py-3">Staus</th>
                                <th scope="col" class="text-center px-6 py-3">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in page_obj %}
                            <tr class="border-b border-gray-300">
                                <td class="px-6 py-4">{{ forloop.counter }}</td>
                
                                <td class="px-6 py-1 font-medium text-black whitespace-nowrap">
                                    {{ data.user.name }}
                                </td>
                                <td class="px-6 py-1 font-medium text-black whitespace-nowrap">
                                    {{ data.user.phone }}
                                </td>
                                 <td class="px-3 py-1 font-medium text-black whitespace-nowrap">
                                    {{ data.service.name }}
                                </td>
                                <td class="px-2 py-1 font-medium text-black whitespace-nowrap">
                                    {{ data.appointment_date }}
                                </td>
                                <td class="py-1 font-medium text-black whitespace-nowrap">
                                    {{ data.start_time }}
                                </td>
                                <td class="px-3 py-1 font-medium text-black whitespace-nowrap">
                                    {{ data.end_time }}
                                </td>
                                <td class="px-3 py-1 font-medium text-black whitespace-nowrap">
                                    {{ data.status }}
                                </td>
                                <td class="text-py-4">
                                    <div class="flex flex-row justify-center items-center gap-2 flex-wrap min-w-32">
                                        <!-- Edit Button -->
                                        <button type="button" data-modal-target="edit-modal-{{ data.id }}" data-modal-toggle="edit-modal-{{ data.id }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#2854C5"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                                        </button>
                                    </div>
                                    
                                    {% comment %} edit form alert {% endcomment %}
                                    <div id="edit-modal-{{ data.id }}" tabindex="-1" aria-hidden="true"
                                        class="hidden fixed inset-0 z-50 bg-black bg-opacity-50">
                                        <div class="bg-[#F9FAFB] rounded-lg shadow p-6 max-w-md" style="width: calc(100% - 50px);">
                                            <div class="py-2 mb-4 border-b rounded-t border-gray-600">
                                                <h3 class="text-xl font-semibold">
                                                    Edit Appointment Status
                                                </h3>
                                            </div>
                                            <form method="post" action="{% url 'dashboard_edit_appointment' data.id %}">
                                                {% csrf_token %}
                                                <select name="appointment-status"
                                                        class="bg-off-white-google w-full border border-gray-300 rounded-md shadow-sm focus:ring-primary focus:border-primary sm:text-sm p-2 appointment-status-dropdown"
                                                        data-id="{{ data.id }}"
                                                        id="service-category-{{ data.id }}"
                                                        class='p-2 rounded-lg border border-gray-300 bg-off-white-google focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent w-full'>
                                                    <option class='bg-off-white-google text-black rounded-lg' value="confirmed" {% if data.status == 'confiremed' %}selected{% endif %}>Confirmed</option>
                                                    <option class='bg-off-white-google text-black rounded-lg' value="cancelled" {% if data.status == 'cancelled' %}selected{% endif %}>Cancelled</option>
                                                    <option class='bg-off-white-google text-black rounded-lg' value="completed" {% if data.status == 'completed' %}selected{% endif %}>Completed</option>
                                                    <option class='bg-off-white-google text-black rounded-lg' value="pending" {% if data.status == 'pending' %}selected{% endif %}>Pending</option>
                                                </select>

                                                <textarea 
                                                    class="mt-4 bg-off-white-google w-full border border-gray-300 rounded-md shadow-sm focus:ring-primary focus:border-primary sm:text-sm p-2 {% if data.status != 'cancelled' %}hidden{% endif %}" 
                                                    placeholder="Enter Reason of Cancellation"
                                                    id="cacellation-reason-{{ data.id }}"
                                                    {% if data.status == 'cancelled' %}required{% endif %}
                                                    name="cacellation-reason"
                                                ></textarea>

                                                <input type="hidden" name="customer-email" value="{{ data.user.email }}">

                                                <div class="flex justify-end gap-2 mt-4">
                                                    <button type="button" data-modal-hide="edit-modal-{{ data.id }}"
                                                        class="px-4 py-2 bg-gray-300 text-black rounded-md hover:bg-gray-400">Cancel</button>
                                                    <button type="submit"
                                                        class="px-4 py-2 bg-primary hover:bg-primary_hover text-white rounded-md hover:bg-primary-dark">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    {% comment %} edit form alert end {% endcomment %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                {% comment %} pagination {% endcomment %}
                <nav aria-label="Page navigation example flex flex-col mt-4">
                    <div class="mb-2">
                        <h2 class="text-gray-700 text-sm md:font-thin">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </h2>
                    </div>
                    <ol class="inline-flex -space-x-px text-base h-10">
                        {% for n in totalPageList %}
                        <li>
                            <a href="{% url 'dashboard_appointments' %}?appointment-table-page={{n}}" aria-current="page" class="flex items-center justify-center px-4 h-10 text-black border border-gray-300 bg-off-white-google hover:bg-blue-100 hover:text-blue-700">{{n}}</a>
                        </li>
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li>
                            <a href="{% url 'dashboard_appointments' %}?appointment-table-page={{ page_obj.paginator.num_pages }}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-off-white-google border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">Last</a>
                        </li>
                        {% endif %}
                    </ol>
                </nav>
                    {% comment %} pagination end {% endcomment %}
            </div>
            {% comment %} table end {% endcomment %}
        </div>
    </section>

<script>
    document.querySelectorAll('.appointment-status-dropdown').forEach(dropdown => {
        dropdown.addEventListener('change', function () {
            const id = this.getAttribute('data-id');
            const reasonTextarea = document.getElementById(`cacellation-reason-${id}`);
            
            if (this.value === 'cancelled') {
                reasonTextarea.classList.remove('hidden');
                reasonTextarea.setAttribute('required', true);
            } else {
                reasonTextarea.classList.add('hidden');
                reasonTextarea.removeAttribute('required');
            }
        });

        // Show/hide the textarea correctly on page load
        const id = dropdown.getAttribute('data-id');
        const reasonTextarea = document.getElementById(`cacellation-reason-${id}`);
        if (dropdown.value === 'cancelled') {
            reasonTextarea.classList.remove('hidden');
        } else {
            reasonTextarea.classList.add('hidden');
        }
    });

    // Hide the message after 3 seconds
    setTimeout(function () {
        const message = document.getElementById('appointment-status-message');
        if (message) {
            message.classList.add('hidden');
        }
    }, 5000);
</script>
{% endblock %}