{% extends 'base_auroUser.html' %}
{% load static %}
{% block title %}AuroNow{% endblock %}

{% block content %}
  <!-- Background Container -->
  <div class="relative min-h-screen">
    <!-- Responsive Background Image -->
    <div class="absolute inset-0 -z-10">
      <img src="{% static 'images/hero.png' %}" 
           alt="Background"
           class="w-full h-full object-top object-cover" />
    </div>
    <!-- Content Area -->
    <div class="relative pt-32 flex-1 overflow-y-auto">
      <div class="container mt-32 mx-auto px-6 py-8 flex flex-col gap-24 ">
       {% comment %} testig for animation start  {% endcomment %}
       <h1 class="text-2xl font-bold text-center text-blue-400 drop-shadow-[0_0_10px_rgba(212,175,55,01)]">
        Your Perfect Salon Experience is just a Click Away
      </h1>
        <!-- Scrollable Content -->
        <div class="space-y-8 px-4">
          <!-- Content blocks -->
          {% include 'search_bar.html' %}
        </div>
      </div>
    </div>
  </div>
  <div class="bg-green-300" >
    {% include 'recommeded.html' %}
  </div>
{% endblock %}
