<div class="min-w-full container my-auto mx-auto px-2 py-4 flex flex-col items-center">
    <div class="container mx-auto px-6 py-8">
        <h1 class="text-3xl font-bold text-center">
            How it works
        </h1>
    </div>
      <!-- Background Container  -->
    <div class="bg-[#e5f5fb] h-auto w-11/12 md:max-w-screen-lg rounded-2xl py-8 px-16 flex justify-center">
        <!-- Content container -->
        <div class=" flex flex-col items-center gap-16 justify-evenly w-full md:flex-row md:py-12">
              <!-- search -->
            <div class="text-center flex flex-col items-center justify-center">
                <a class="hover:scale-110 duration-300" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-10 h-10 mb-4 ">
                       <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                    </svg>
                </a>
                <h1 class="text-lg font-semibold">Search</h1>
                <p class="text-xs max-w-xm mx-auto">Find Salons and Services near you using our easy search tool.</p>
            </div>
              <!-- Book -->
            <div class="text-center flex flex-col items-center justify-center">
                <a class="hover:scale-105 duration-300" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-10 h-10 mb-4">
                        <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16z"/>
                    </svg>
                </a>
                <h1 class="text-lg font-semibold">Book</h1>
                <p class="text-xs max-w-xm mx-auto">Select your preferred time slots and book your appointment.</p>
            </div>
              <!-- Enjoy -->
            <div class="text-center flex flex-col items-center justify-center">
                <a class="hover:scale-105 duration-300" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-10 h-10 mb-4">
                        <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z "/>
                    </svg>
                </a>
                <h1 class="text-lg font-semibold">Enjoy</h1>
                <p class="text-xs max-w-xm mx-auto">Visit the salon and enjoy a seamless experience.</p>
            </div>
        </div>
    </div>
</div>
